body{
    color:antiquewhite;
    text-align: center;
    background-image:url(glimmering-golden-glitter.jpg);
    background-size: cover;
    padding: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 60px;
}

h1{
    text-align: center;
    margin: 40px;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: double;
    border: 10px;
    border-color: blanchedalmond;
}


